<a href="https://colab.research.google.com/github/harshbhabhera/Class-Work/blob/master/Harsh_Bhabhera.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# Any results you write to the current directory are saved as output.

In [74]:
! wget https://github.com/amsurve/J050_sem6_nlp/blob/master/datasets/10k-german-news-articles.zip?raw=true
! mkdir newsarticles
! unzip 10k-german-news-articles.zip?raw=true -d newsarticles

ann_df=pd.read_csv("/content/newsarticles/Annotations.csv")
posts_df=pd.read_csv("/content/newsarticles/Posts.csv")
cats_df=pd.read_csv("/content/newsarticles/Categories.csv")
News_df=pd.read_csv("/content/newsarticles/Newspaper_Staff.csv")
articles_df=pd.read_csv("/content/newsarticles/Articles.csv")
cvsplit_df=pd.read_csv("/content/newsarticles/CrossValSplit.csv")
consol_df=pd.read_csv("/content/newsarticles/Annotations_consolidated.csv")

--2020-03-03 17:34:44--  https://github.com/amsurve/J050_sem6_nlp/blob/master/datasets/10k-german-news-articles.zip?raw=true
Resolving github.com (github.com)... 140.82.113.3
Connecting to github.com (github.com)|140.82.113.3|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://github.com/amsurve/J050_sem6_nlp/raw/master/datasets/10k-german-news-articles.zip [following]
--2020-03-03 17:34:44--  https://github.com/amsurve/J050_sem6_nlp/raw/master/datasets/10k-german-news-articles.zip
Reusing existing connection to github.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://media.githubusercontent.com/media/amsurve/J050_sem6_nlp/master/datasets/10k-german-news-articles.zip [following]
--2020-03-03 17:34:44--  https://media.githubusercontent.com/media/amsurve/J050_sem6_nlp/master/datasets/10k-german-news-articles.zip
Resolving media.githubusercontent.com (media.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to media.githubusercontent.com (media.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 128989980 (123M) [application/zip]
Saving to: ‘10k-german-news-articles.zip?raw=true.1’

10k-german-news-art 100%[===================>] 123.01M   168MB/s    in 0.7s

2020-03-03 17:34:45 (168 MB/s) - ‘10k-german-news-articles.zip?raw=true.1’ saved [128989980/128989980]

mkdir: cannot create directory ‘newsarticles’: File exists
Archive:  10k-german-news-articles.zip?raw=true
replace newsarticles/Annotations.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename:

In [76]:
ann_df.head()

   ID_Post  ID_Annotator         Category  Value
0     3326             1    ArgumentsUsed      0
1     3326             1   Discriminating      0
2     3326             1    Inappropriate      0
3     3326             1         OffTopic      0
4     3326             1  PersonalStories      0

In [77]:
posts_df.head()

   ID_Post  ID_Parent_Post  ...  PositiveVotes  NegativeVotes
0        1             NaN  ...              0              0
1        2             NaN  ...              0              0
2        3             2.0  ...              0              0
3        4             3.0  ...              0              0
4        5             NaN  ...              0              0

[5 rows x 10 columns]

In [78]:
cats_df.head()

                Name  Ord
0  SentimentNegative    1
1   SentimentNeutral    2
2  SentimentPositive    3
3           OffTopic    4
4      Inappropriate    5

In [79]:
News_df.head()

   ID_User
0      123
1      383
2      407
3      461
4      497

In [80]:
articles_df.head()

   ID_Article  ...                                               Body
0           1  ...  <div class="section" id="content-main" itempro...
1           2  ...  <div class="diashow" id="objectContent"><meta ...
2           3  ...  <div class="section" id="content-main" itempro...
3           4  ...  <div class="section" id="content-main" itempro...
4           5  ...  <div class="section" id="content-main" itempro...

[5 rows x 5 columns]

In [81]:
cvsplit_df.head()

   ID_Post          Category  Fold
0       79  PossiblyFeedback     1
1       81  PossiblyFeedback     1
2      132  PossiblyFeedback     1
3      134  PossiblyFeedback     1
4      139  PossiblyFeedback     1

In [82]:
consol_df.head()

   ID_Post          Category  Value
0       79  PossiblyFeedback      1
1       81  PossiblyFeedback      1
2      132  PossiblyFeedback      1
3      134  PossiblyFeedback      1
4      139  PossiblyFeedback      1

In [83]:
articles_df["Body"][0]

'<div class="section" id="content-main" itemprop="articleBody"><div class="copytext"><h2 itemprop="description">Abonnieren Sie einen unserer Newsletter und lassen Sie sich aktuelle Nachrichten per Mail zuschicken! derStandard.at bietet eine Vielzahl themenbezogener Newsletter an.</h2><p>Unter dem Motto "Nachrichten in Echtzeit" liefert derStandard.at die wichtigsten Meldungen des Tages per E-Mail in einer HTML- oder Textversion. Unter <strong><a href="/Newsletter">derStandard.at/Newsletter</a></strong> können Sie Ihr kostenloses Newsletter-Abonnement bequem an- und abmelden.</p>\n<p><strong>Alle Newsletter im Überblick</strong></p>\n<ul><ul><li>D-Mail <strong>Newsroom:</strong> Spitzenmeldungen aus allen Newsroom-Ressorts</li><li>D-Mail <strong>Meinung:</strong> Aktuelle Kommentare und Kolumnen</li><li>D-Mail <strong>Internationalpolitik:</strong> Top-News über das internationale Geschehen</li><li>D-Mail <strong>Innenpolitik:</strong> Top-News über das innenpolitische Geschehen</li><li>D-Mail <strong>Wirtschaft:</strong> Nachrichten aus der Unternehmens- und Wirtschaftsbranche</li><li>D-Mail <strong>Finanz &amp; Börse:</strong> Finanz- &amp; Börse-News</li><li>D-Mail <strong>Webstandard:</strong> Das Neueste aus Netz &amp; Technologie</li><li>D-Mail <strong>Sport:</strong> Spitzenmeldungen aus dem Sportressort</li><li>D-Mail <strong>Panorama:</strong> Meldungen aus Chronik, Gesellschaft, Umwelt und Wien</li><li>D-Mail <strong>Etat:</strong> Top-Aktuelles aus Medien &amp; Werbung sowie Newsflash</li><li>D-Mail <strong>Kultur:</strong> Aktuelle Kultur-Nachrichten</li><li><strong>Alert-Mail:</strong> Brandaktuelle Meldungen von besonderer Wichtigkeit liefert das A-Mail</li></ul></ul>\n<p><strong>Wöchentliche Newsletter</strong></p>\n<ul><ul><li><strong>Weekly-Mail:</strong> Das W-Mail informiert jeweils zur Wochenmitte über Neuigkeiten rund um das Angebot von derStandard.at und bringt Highlights aus allen Ressorts</li><li>W-Mail<strong> Gesundheit:</strong> Der wöchentliche Überblick zu aktuellen Gesundheitsthemen</li><li>W-Mail<strong> Bildung:</strong> Der wöchentliche Überblick für Bildung</li><li>W-Mail <strong>Lifestyle:</strong> Wöchentliche News zu Essen, Mode &amp; Design</li><li>W-Mail <strong>Reise:</strong> Berichte und Tipps rund ums Reisen</li><li>W-Mail <strong>Karriere: </strong>Karrieretipps, Arbeitsleben &amp; Führungsfragen<br/></li><li>W-Mail<strong> Immobilien:</strong> Das Neueste aus der Welt des Wohnens</li><li>W-Mail<strong> Autos:</strong> Wöchentliche News und Test-Berichte rund um Autos und Motorräder</li><li>W-Mail <strong>User: </strong>Beiträge der User und Community</li><li><strong>I-Mail Gewinnspiele:</strong> Infos zu aktuellen Gewinnspielen</li></ul></ul> </div><div class="supplemental"><p><strong>Link</strong></p>\n<p><a href="http://derstandard.at/userprofil/emailabos/newsletter">Login / Registrierung / E-Mail-Abos verwalten</a></p></div></div>\n'

In [84]:
articles_df.head(10)

   ID_Article  ...                                               Body
0           1  ...  <div class="section" id="content-main" itempro...
1           2  ...  <div class="diashow" id="objectContent"><meta ...
2           3  ...  <div class="section" id="content-main" itempro...
3           4  ...  <div class="section" id="content-main" itempro...
4           5  ...  <div class="section" id="content-main" itempro...
5           6  ...  <div class="section" id="content-main" itempro...
6           7  ...  <div class="section" id="content-main" itempro...
7           8  ...  <div class="section" id="content-main" itempro...
8           9  ...  <div class="section" id="content-main" itempro...
9          10  ...  <div class="section" id="content-main"><div cl...

[10 rows x 5 columns]

In [0]:
df = articles_df

In [86]:
df["Body"].head(5)

0    <div class="section" id="content-main" itempro...
1    <div class="diashow" id="objectContent"><meta ...
2    <div class="section" id="content-main" itempro...
3    <div class="section" id="content-main" itempro...
4    <div class="section" id="content-main" itempro...
Name: Body, dtype: object

In [87]:
df.info

<bound method DataFrame.info of        ID_Article  ...                                               Body
0               1  ...  <div class="section" id="content-main" itempro...
1               2  ...  <div class="diashow" id="objectContent"><meta ...
2               3  ...  <div class="section" id="content-main" itempro...
3               4  ...  <div class="section" id="content-main" itempro...
4               5  ...  <div class="section" id="content-main" itempro...
...           ...  ...                                                ...
12082       12083  ...  <div class="section" id="content-main" itempro...
12083       12084  ...  <div class="section" id="content-main" itempro...
12084       12085  ...  <div class="section" id="content-main" itempro...
12085       12086  ...  <div class="section" id="content-main" itempro...
12086       12087  ...  <div class="section" id="content-main" itempro...

[12087 rows x 5 columns]>

In [0]:
import re

In [0]:
articles_df.iloc[0]['Body']

def removehtml(text):
    clean = re.compile('<.*?>')
    return re.sub(clean, '', text)

articles_df['Body'] = articles_df['Body'].apply(removehtml)

In [90]:

articles_df.head(8)

   ID_Article  ...                                               Body
0           1  ...  Abonnieren Sie einen unserer Newsletter und la...
1           2  ...  Werden Sie Teil von derStandard.at!10. Dezembe...
2           3  ...  Die Smartphone-App bietet Nachrichten in Echtz...
3           4  ...  Wie sieht Ihr Alltag als Linkshänder aus? Erle...
4           5  ...  Erzählen Sie uns von Ihren Erlebnissen rund um...
5           6  ...  Der Sommer ist vorbei, und für die meisten von...
6           7  ...  Diskutieren, wo es möglich ist, kontern, wo es...
7           8  ...  "Ich will Feuerwehrmann werden": Unvergessen d...

[8 rows x 5 columns]

In [0]:
#def pipeline(text):
 #   text = text.lower()
  #  stop_words = (stopwords.words('german'))
   # word_tokens = word_tokenize(text)
    #filtered_sentence = [w for w in word_tokens if w not in stop_words]
#
 #   return filtered_sentence

In [0]:

def pipeline(text):
    #text = text.lower()
    stop_words = (stopwords.words('german'))
    word_tokens = word_tokenize(text)
    filtered_sentence = [w for w in word_tokens if w not in stop_words]
    #lemmatize_words = np.vectorize(lem.lemmatize , otypes=[str])
    filtered_sentence = ' '.join(filtered_sentence)

    return filtered_sentence

In [0]:
import seaborn as sns
import matplotlib.pyplot as plt
import nltk
import re
import string
from nltk.corpus import stopwords
from nltk.tokenize import RegexpTokenizer
from nltk import WordNetLemmatizer

In [0]:
mwe= nltk.MWETokenizer()
lem = WordNetLemmatizer()

In [0]:
from nltk.tokenize import word_tokenize

In [96]:
import nltk  
nltk.download('stopwords')

nltk.download('punkt')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [0]:
articles_df['Body'] = articles_df['Body'].apply(pipeline)

In [0]:
dff = articles_df.head(50)

In [99]:
dff.head(5)

   ID_Article  ...                                               Body
0           1  ...  Abonnieren Sie unserer Newsletter lassen Sie a...
1           2  ...  Werden Sie Teil derStandard.at ! 10 . Dezember...
2           3  ...  Die Smartphone-App bietet Nachrichten Echtzeit...
3           4  ...  Wie sieht Ihr Alltag Linkshänder ? Erledigen S...
4           5  ...  Erzählen Sie Ihren Erlebnissen rund weltpoliti...

[5 rows x 5 columns]

In [0]:
import gensim.corpora as corpora
from pprint import pprint
from gensim.models import CoherenceModel
import logging, warnings, gensim, spacy
from gensim.utils import lemmatize, simple_preprocess
import matplotlib.pyplot as plt

In [0]:
from sklearn.feature_extraction.text import CountVectorizer

In [0]:
# Initialise the count vectorizer with the English stop words
count_vectorizer = CountVectorizer()

In [0]:
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('whitegrid')
%matplotlib inline

In [0]:
df = articles_df.head(50)

In [0]:
count_data = count_vectorizer.fit_transform(df["Body"])

In [0]:
import warnings
warnings.simplefilter("ignore", DeprecationWarning)
# Load the LDA model from sk-learn
from sklearn.decomposition import LatentDirichletAllocation as LDA
 
# Helper function

In [0]:
def print_topics(model, count_vectorizer, n_top_words):
    words = count_vectorizer.get_feature_names()
    for topic_idx, topic in enumerate(model.components_):
        print("\nTopic #%d:" % topic_idx)
        print(" ".join([words[i]
                        for i in topic.argsort()[:-n_top_words - 1:-1]]))

In [0]:

number_topics = 50
number_words = 4

In [0]:
# Create and fit the LDA model
lda = LDA(n_components=number_topics, n_jobs=-1)

In [131]:
lda.fit(count_data)

LatentDirichletAllocation(batch_size=128, doc_topic_prior=None,
                          evaluate_every=-1, learning_decay=0.7,
                          learning_method='batch', learning_offset=10.0,
                          max_doc_update_iter=100, max_iter=10,
                          mean_change_tol=0.001, n_components=50, n_jobs=-1,
                          perp_tol=0.1, random_state=None,
                          topic_word_prior=None, total_samples=1000000.0,
                          verbose=0)

In [0]:
bodytopics1 = []

In [0]:
def print_topics(model, count_vectorizer, n_top_words):
    words = count_vectorizer.get_feature_names()
    for topic_idx, topic in enumerate(model.components_):
        print("\nTopic #%d:" % topic_idx)
        print(" ".join([words[i]
                        for i in topic.argsort()[:-n_top_words - 1:-1]]))
        bodytopics1.append([words[i] for i in topic.argsort()[:-n_top_words - 1:-1]])

In [138]:
# Print the topics found by the LDA model
print("Topics found via LDA:")
print_topics(lda, count_vectorizer, number_words)

Topics found via LDA:

Topic #0:
kerry der meteoriten wurde

Topic #1:
übrigens fremden frauenrings frauenthemen

Topic #2:
mehr sie urlaub sei

Topic #3:
übrigens fremden frauenrings frauenthemen

Topic #4:
prozent anbieter preise österreich

Topic #5:
übrigens fremden frauenrings frauenthemen

Topic #6:
übrigens fremden frauenrings frauenthemen

Topic #7:
die lego fpö zukunft

Topic #8:
übrigens fremden frauenrings frauenthemen

Topic #9:
mittelschicht sie wer arbeit

Topic #10:
the to iglesias he

Topic #11:
dragons orner derstandard vikings

Topic #12:
sie unregelmäßig posting community

Topic #13:
übrigens fremden frauenrings frauenthemen

Topic #14:
postings user community foren

Topic #15:
plank die radioteleskope radioquellen

Topic #16:
überblick mandate gemeindeergebnisse koalitionen

Topic #17:
umfragen prozent sie lernen

Topic #18:
übrigens fremden frauenrings frauenthemen

Topic #19:
auto android hardware nutzung

Topic #20:
sie 1989 ihre wurde

Topic #21:
sie neue eingriffe system

Topic #22:
übrigens fremden frauenrings frauenthemen

Topic #23:
eaton punkten die platz

Topic #24:
mail amp newsletter wöchentliche

Topic #25:
sie linkshänder rechts gibt

Topic #26:
koffer sei der die

Topic #27:
internet sie seite und

Topic #28:
übrigens fremden frauenrings frauenthemen

Topic #29:
frauen ablinger belästigung sexuelle

Topic #30:
sacher lassiwe das hofinger

Topic #31:
antibiotika merkel rauch die

Topic #32:
facebook schlüssel pgp eigenen

Topic #33:
übrigens fremden frauenrings frauenthemen

Topic #34:
sie derstandard at mail

Topic #35:
übrigens fremden frauenrings frauenthemen

Topic #36:
übrigens fremden frauenrings frauenthemen

Topic #37:
konventionalstrafe arbeitgeber verstoß arbeitnehmer

Topic #38:
die jahren hunde analyse

Topic #39:
app sie version android

Topic #40:
übrigens fremden frauenrings frauenthemen

Topic #41:
übrigens fremden frauenrings frauenthemen

Topic #42:
übrigens fremden frauenrings frauenthemen

Topic #43:
fc ger batterien sie

Topic #44:
übrigens fremden frauenrings frauenthemen

Topic #45:
us apple konzerne moody

Topic #46:
übrigens fremden frauenrings frauenthemen

Topic #47:
chat sie postings user

Topic #48:
übrigens fremden frauenrings frauenthemen

Topic #49:
schmid matura maturanten reifeprüfung

In [139]:
bodytopics1

[['kerry', 'der', 'meteoriten', 'wurde'],
 ['übrigens', 'fremden', 'frauenrings', 'frauenthemen'],
 ['mehr', 'sie', 'urlaub', 'sei'],
 ['übrigens', 'fremden', 'frauenrings', 'frauenthemen'],
 ['prozent', 'anbieter', 'preise', 'österreich'],
 ['übrigens', 'fremden', 'frauenrings', 'frauenthemen'],
 ['übrigens', 'fremden', 'frauenrings', 'frauenthemen'],
 ['die', 'lego', 'fpö', 'zukunft'],
 ['übrigens', 'fremden', 'frauenrings', 'frauenthemen'],
 ['mittelschicht', 'sie', 'wer', 'arbeit'],
 ['the', 'to', 'iglesias', 'he'],
 ['dragons', 'orner', 'derstandard', 'vikings'],
 ['sie', 'unregelmäßig', 'posting', 'community'],
 ['übrigens', 'fremden', 'frauenrings', 'frauenthemen'],
 ['postings', 'user', 'community', 'foren'],
 ['plank', 'die', 'radioteleskope', 'radioquellen'],
 ['überblick', 'mandate', 'gemeindeergebnisse', 'koalitionen'],
 ['umfragen', 'prozent', 'sie', 'lernen'],
 ['übrigens', 'fremden', 'frauenrings', 'frauenthemen'],
 ['auto', 'android', 'hardware', 'nutzung'],
 ['sie', '1989', 'ihre', 'wurde'],
 ['sie', 'neue', 'eingriffe', 'system'],
 ['übrigens', 'fremden', 'frauenrings', 'frauenthemen'],
 ['eaton', 'punkten', 'die', 'platz'],
 ['mail', 'amp', 'newsletter', 'wöchentliche'],
 ['sie', 'linkshänder', 'rechts', 'gibt'],
 ['koffer', 'sei', 'der', 'die'],
 ['internet', 'sie', 'seite', 'und'],
 ['übrigens', 'fremden', 'frauenrings', 'frauenthemen'],
 ['frauen', 'ablinger', 'belästigung', 'sexuelle'],
 ['sacher', 'lassiwe', 'das', 'hofinger'],
 ['antibiotika', 'merkel', 'rauch', 'die'],
 ['facebook', 'schlüssel', 'pgp', 'eigenen'],
 ['übrigens', 'fremden', 'frauenrings', 'frauenthemen'],
 ['sie', 'derstandard', 'at', 'mail'],
 ['übrigens', 'fremden', 'frauenrings', 'frauenthemen'],
 ['übrigens', 'fremden', 'frauenrings', 'frauenthemen'],
 ['konventionalstrafe', 'arbeitgeber', 'verstoß', 'arbeitnehmer'],
 ['die', 'jahren', 'hunde', 'analyse'],
 ['app', 'sie', 'version', 'android'],
 ['übrigens', 'fremden', 'frauenrings', 'frauenthemen'],
 ['übrigens', 'fremden', 'frauenrings', 'frauenthemen'],
 ['übrigens', 'fremden', 'frauenrings', 'frauenthemen'],
 ['fc', 'ger', 'batterien', 'sie'],
 ['übrigens', 'fremden', 'frauenrings', 'frauenthemen'],
 ['us', 'apple', 'konzerne', 'moody'],
 ['übrigens', 'fremden', 'frauenrings', 'frauenthemen'],
 ['chat', 'sie', 'postings', 'user'],
 ['übrigens', 'fremden', 'frauenrings', 'frauenthemen'],
 ['schmid', 'matura', 'maturanten', 'reifeprüfung']]

In [0]:
#lda_model =  gensim.models.LdaMulticore(corpus, 
 #                                  num_topics = 4, 
  #                                 id2word = id2word,                                    
   #                                passes = 10,
    #                               workers = 2)

In [0]:
#pprint(lda_model.print_topics())

In [0]:
                                                                                                    #data = df["Title"]

In [0]:
##dataa = data.head(50)

In [0]:
#id2word = corpora.Dictionary(dataa)
#print(id2word)

In [0]:
#corpus = [id2word.doc2bow(text) for text in data]
#print(corpus)

In [140]:
df['Title'] = df['Title'].apply(pipeline)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [0]:
count_data1 = count_vectorizer.fit_transform(df["Title"])

In [0]:
def print_topics(model, count_vectorizer, n_top_words):
    words = count_vectorizer.get_feature_names()
    for topic_idx, topic in enumerate(model.components_):
        print("\nTopic #%d:" % topic_idx)
        print(" ".join([words[i]
                        for i in topic.argsort()[:-n_top_words - 1:-1]]))
        titletopics2.append([words[i] for i in topic.argsort()[:-n_top_words - 1:-1]])

In [147]:
lda.fit(count_data1)

LatentDirichletAllocation(batch_size=128, doc_topic_prior=None,
                          evaluate_every=-1, learning_decay=0.7,
                          learning_method='batch', learning_offset=10.0,
                          max_doc_update_iter=100, max_iter=10,
                          mean_change_tol=0.001, n_components=50, n_jobs=-1,
                          perp_tol=0.1, random_state=None,
                          topic_word_prior=None, total_samples=1000000.0,
                          verbose=0)

In [0]:
titletopics2 = []

In [152]:
# Print the topics found by the LDA model
print("Topics found via LDA:")
print_topics(lda, count_vectorizer, number_words)

Topics found via LDA:

Topic #0:
ihre schlimmsten hotelerlebnisse fremde

Topic #1:
österreichische österreich gewinnen gesundheitswissen

Topic #2:
österreichische österreich gewinnen gesundheitswissen

Topic #3:
facebook thema milliardenfache gesundheit

Topic #4:
preise öl co2 gas

Topic #5:
österreichische österreich gewinnen gesundheitswissen

Topic #6:
mann erhielt watch wegen

Topic #7:
gewordene eine fleisch brauerei

Topic #8:
österreichische österreich gewinnen gesundheitswissen

Topic #9:
virtuellen angst penissen lego

Topic #10:
215 meteoriten gestohlene beschlagnahmte

Topic #11:
space lost putin österreichische

Topic #12:
österreichische österreich gewinnen gesundheitswissen

Topic #13:
österreichische österreich gewinnen gesundheitswissen

Topic #14:
artikeln können community zuordnen

Topic #15:
österreichische österreich gewinnen gesundheitswissen

Topic #16:
österreichische österreich gewinnen gesundheitswissen

Topic #17:
südkorea unbeliebter immer hundefleisch

Topic #18:
österreichische österreich gewinnen gesundheitswissen

Topic #19:
österreichische österreich gewinnen gesundheitswissen

Topic #20:
eingriff erbgut wo forschung

Topic #21:
zwischengelandet wetterbedingt japan solar

Topic #22:
österreichische österreich gewinnen gesundheitswissen

Topic #23:
österreichische österreich gewinnen gesundheitswissen

Topic #24:
burgenland alle ergebnisse landtagswahlen

Topic #25:
österreichische österreich gewinnen gesundheitswissen

Topic #26:
österreichische österreich gewinnen gesundheitswissen

Topic #27:
us kerry fahrradunfall krankenhaus

Topic #28:
syrien autounfall drusischer stirbt

Topic #29:
österreichische österreich gewinnen gesundheitswissen

Topic #30:
österreichische österreich gewinnen gesundheitswissen

Topic #31:
1989 wie jahr handytarife

Topic #32:
österreichische österreich gewinnen gesundheitswissen

Topic #33:
sie erstes ihr web

Topic #34:
pessimistischen steirern stärksten fpö

Topic #35:
schützen frauen das würde

Topic #36:
riesige konzerne geldreserven warum

Topic #37:
iglesias verletzt konzert popstar

Topic #38:
vikings football gewinnen derby

Topic #39:
österreichische österreich gewinnen gesundheitswissen

Topic #40:
österreichische österreich gewinnen gesundheitswissen

Topic #41:
gestärkt landeshauptleute hofinger fpö

Topic #42:
österreichische österreich gewinnen gesundheitswissen

Topic #43:
österreichische österreich gewinnen gesundheitswissen

Topic #44:
österreichische österreich gewinnen gesundheitswissen

Topic #45:
koller internationale fixiert rebbe

Topic #46:
clinton martin malley präsentiert

Topic #47:
sie ihrem leben wie

Topic #48:
sie nun flats danube

Topic #49:
keine scheu community österreichische

In [153]:
titletopics2

[['ihre', 'schlimmsten', 'hotelerlebnisse', 'fremde'],
 ['österreichische', 'österreich', 'gewinnen', 'gesundheitswissen'],
 ['österreichische', 'österreich', 'gewinnen', 'gesundheitswissen'],
 ['facebook', 'thema', 'milliardenfache', 'gesundheit'],
 ['preise', 'öl', 'co2', 'gas'],
 ['österreichische', 'österreich', 'gewinnen', 'gesundheitswissen'],
 ['mann', 'erhielt', 'watch', 'wegen'],
 ['gewordene', 'eine', 'fleisch', 'brauerei'],
 ['österreichische', 'österreich', 'gewinnen', 'gesundheitswissen'],
 ['virtuellen', 'angst', 'penissen', 'lego'],
 ['215', 'meteoriten', 'gestohlene', 'beschlagnahmte'],
 ['space', 'lost', 'putin', 'österreichische'],
 ['österreichische', 'österreich', 'gewinnen', 'gesundheitswissen'],
 ['österreichische', 'österreich', 'gewinnen', 'gesundheitswissen'],
 ['artikeln', 'können', 'community', 'zuordnen'],
 ['österreichische', 'österreich', 'gewinnen', 'gesundheitswissen'],
 ['österreichische', 'österreich', 'gewinnen', 'gesundheitswissen'],
 ['südkorea', 'unbeliebter', 'immer', 'hundefleisch'],
 ['österreichische', 'österreich', 'gewinnen', 'gesundheitswissen'],
 ['österreichische', 'österreich', 'gewinnen', 'gesundheitswissen'],
 ['eingriff', 'erbgut', 'wo', 'forschung'],
 ['zwischengelandet', 'wetterbedingt', 'japan', 'solar'],
 ['österreichische', 'österreich', 'gewinnen', 'gesundheitswissen'],
 ['österreichische', 'österreich', 'gewinnen', 'gesundheitswissen'],
 ['burgenland', 'alle', 'ergebnisse', 'landtagswahlen'],
 ['österreichische', 'österreich', 'gewinnen', 'gesundheitswissen'],
 ['österreichische', 'österreich', 'gewinnen', 'gesundheitswissen'],
 ['us', 'kerry', 'fahrradunfall', 'krankenhaus'],
 ['syrien', 'autounfall', 'drusischer', 'stirbt'],
 ['österreichische', 'österreich', 'gewinnen', 'gesundheitswissen'],
 ['österreichische', 'österreich', 'gewinnen', 'gesundheitswissen'],
 ['1989', 'wie', 'jahr', 'handytarife'],
 ['österreichische', 'österreich', 'gewinnen', 'gesundheitswissen'],
 ['sie', 'erstes', 'ihr', 'web'],
 ['pessimistischen', 'steirern', 'stärksten', 'fpö'],
 ['schützen', 'frauen', 'das', 'würde'],
 ['riesige', 'konzerne', 'geldreserven', 'warum'],
 ['iglesias', 'verletzt', 'konzert', 'popstar'],
 ['vikings', 'football', 'gewinnen', 'derby'],
 ['österreichische', 'österreich', 'gewinnen', 'gesundheitswissen'],
 ['österreichische', 'österreich', 'gewinnen', 'gesundheitswissen'],
 ['gestärkt', 'landeshauptleute', 'hofinger', 'fpö'],
 ['österreichische', 'österreich', 'gewinnen', 'gesundheitswissen'],
 ['österreichische', 'österreich', 'gewinnen', 'gesundheitswissen'],
 ['österreichische', 'österreich', 'gewinnen', 'gesundheitswissen'],
 ['koller', 'internationale', 'fixiert', 'rebbe'],
 ['clinton', 'martin', 'malley', 'präsentiert'],
 ['sie', 'ihrem', 'leben', 'wie'],
 ['sie', 'nun', 'flats', 'danube'],
 ['keine', 'scheu', 'community', 'österreichische']]

In [0]:
titlelist3 = []
for i in range (0, len(df.Title)):
  titlelist3.append(df.Title[i])

In [0]:
#Now need to find similarity score between the 3 lists
#topics from body & topics from title
#topics from body & title
#topics from title & title

In [0]:
from __future__ import print_function, unicode_literals
import spacy

#nlp = spacy.load('de')

In [160]:
!python -m spacy download de_core_news_md
import de_core_news_md
nlp = de_core_news_md.load()

Collecting de_core_news_md==2.1.0
  Downloading https://github.com/explosion/spacy-models/releases/download/de_core_news_md-2.1.0/de_core_news_md-2.1.0.tar.gz (220.8MB)
     |████████████████████████████████| 220.8MB 18.9MB/s
Building wheels for collected packages: de-core-news-md
  Building wheel for de-core-news-md (setup.py) ... done
  Created wheel for de-core-news-md: filename=de_core_news_md-2.1.0-cp36-none-any.whl size=224546880 sha256=7c95cdacd9091d0d7d9636a5cabc3aa419b29b0d9ddbfa73f69e89fa6fda8293
  Stored in directory: /tmp/pip-ephem-wheel-cache-7pdblfmb/wheels/44/34/f1/31d4b0fa32008c09695ccb180865f196ecd9d512c146f99749
Successfully built de-core-news-md
Installing collected packages: de-core-news-md
Successfully installed de-core-news-md-2.1.0
✔ Download and installation successful
You can now load the model via spacy.load('de_core_news_md')

In [161]:
similarity_list = []
for i in range(0,4):  
    topic_title = " ".join(bodytopics1[i])
    topic_body    = " ".join(titletopics2[i])
    
    tokens_topic_title = nlp(topic_title)
    tokens_topic_body   = nlp(topic_body)
    j = 0
    similarity_list_temp = []
    for token in tokens_topic_title:
        similarity = token.similarity(tokens_topic_body[j])

        similarity_list_temp.append(similarity)
        j = j+1

    similarity_list.append(np.average(np.asarray(similarity_list_temp)))

/usr/lib/python3.6/runpy.py:193: UserWarning: [W008] Evaluating Token.similarity based on empty vectors.
  "__main__", mod_spec)
/usr/lib/python3.6/runpy.py:193: UserWarning: [W008] Evaluating Token.similarity based on empty vectors.
  "__main__", mod_spec)
/usr/lib/python3.6/runpy.py:193: UserWarning: [W008] Evaluating Token.similarity based on empty vectors.
  "__main__", mod_spec)
/usr/lib/python3.6/runpy.py:193: UserWarning: [W008] Evaluating Token.similarity based on empty vectors.
  "__main__", mod_spec)
/usr/lib/python3.6/runpy.py:193: UserWarning: [W008] Evaluating Token.similarity based on empty vectors.
  "__main__", mod_spec)
/usr/lib/python3.6/runpy.py:193: UserWarning: [W008] Evaluating Token.similarity based on empty vectors.
  "__main__", mod_spec)
/usr/lib/python3.6/runpy.py:193: UserWarning: [W008] Evaluating Token.similarity based on empty vectors.
  "__main__", mod_spec)